doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register - Admin
  body 
    h1=`Registrado con exito, bienvenido ${name} ahora sos Admin!` 
    p=`Para ingresar a su cuenta escriba su dni: ${dni} y con el password: ${password}`
